<header >
    <nav class="wu-header">
        <img src="https://www.westernunion.com/content/dam/wu/logo/logo.wu.big.svg" alt="logo">
       <div class="header-right">
        <div >
            <a routerLink="send-money">Send Money</a>
        </div>
        <div *ngIf="myReceiver" >
            <a routerLink="my-receivers">My Receiver</a>
        </div>
        <div *ngIf="addReceiver" >
            <a routerLink="add-receiver">Add Receiver</a>
        </div>
        <div *ngIf="logOut" class="logout">
            <a (click)="logfun()">LogOut</a>
        </div>
    </div>
    </nav>
</header>
