<div>
  <form #addReceiver="ngForm" (ngSubmit)="continue(addReceiver.value)">
    <div class="resbox">
      <h3>Receiver's Information</h3>

      <div class="textfield email">
        <h4>For your saftey, make sure you know your receiver</h4>
        <div class="custom-dropdown countrybox">
        
          <div class="selected-country" (click)="toggleDropdown()">
            <div *ngIf="!countryData[0][selectedCountry]?.img">
              <img [src]="imgurl" alt="country" class="country-flag" />
            </div>
            <img
              *ngIf="countryData[0][selectedCountry]?.img"
              [src]="countryData[0][selectedCountry]?.img"
              alt="{{ selectedCountry }}"
              class="country-flag"
            />
            {{ selectedCountry }}
          </div>
          <div class="dropdown-list" *ngIf="showDropdown">
            <div
              *ngFor="let country of countries"
              (click)="selectCountry(country)"
            >
              <img
                [src]="countryData[0][country]?.img"
                alt="{{ country }}"
                class="country-flag"
              />
              {{ country }}
            </div>
          </div>
        </div>
        <br /><br />

        <div class="subHeading">
          <h4>Receiver's Personal Information</h4>
        </div>

        <div class="infobox">
          <div class="container">
          <ng-container >
          <input
            required
            #firstname="ngModel"
            type="text"
            class="text-input-name"
            name="firstname"
            placeholder="Receiver's firstname"
            ngModel 
          />
          <div *ngIf="!(firstname.invalid && firstname.touched)" class="error1">
           optional
          </div>
          <div *ngIf="firstname.invalid && firstname.touched" class="error">
            firstName required
          </div>
        </ng-container>
    
        
      </div>
      <div class="container">

     
        <ng-container *ngIf="isLastNameRequired()">
          <input
            required
            #lastname="ngModel"
      
            type="text"
            class="text-input-name"
            name="lastname"
            placeholder="Receiver's Lastname"
           ngModel
          />
          <div *ngIf="!(lastname.invalid && lastname.touched)" class="error1">
           optional
          </div>
          <div *ngIf="lastname.invalid && lastname.touched" class="error">
            lastName required
          </div>
        </ng-container>
       
        </div>
        </div>

        <div class="infobox container-email">
          <ng-container *ngIf="isEmailRequired()">
          <input
            required
            #email="ngModel"
            type="email"
            class="text-input-middlename"
            name="email"
            placeholder="Receiver's email"
            ngModel
          />
          <div *ngIf="!(email.invalid && email.touched)" class="error1">
           optional
          </div>
          <div *ngIf="email.invalid && email.touched" class="error">
            email required
          </div>
        </ng-container>
        </div>

        <br /><br />
        <div class="endbox">
          <select
            name="type"
            class="text-input-type"
            #type="ngModel"
            ngModel
            required
          >
            <option value="" disabled selected>Type</option>
            <option *ngFor="let type of types" [value]="type">
              {{ type }}
            </option>
          </select>
          <br /><br />

          <input
            required
            type="text"
            class="text-input-type"
            name="countrycode"
            placeholder="country code"
            ngModel
          />
          <br /><br />
          <input
            required
            #mobileno="ngModel"
            type="text"
            class="text-input-no"
            name="mobileno"
            placeholder="Receiver's mobileno "
            ngModel
          />
          <div *ngIf="!(mobileno.invalid && mobileno.touched)" class="errorr1">
           optional
          </div>
          <div *ngIf="mobileno.invalid && mobileno.touched" class="errorr">
            Mobile number required
          </div>
         
        </div>
      </div>

      <div class="add">
        <button type="submit" [disabled]="!addReceiver.form.valid">
          Add Receiver
        </button>
      </div>
      <div class="cancel">
        <button routerLink="/my-receivers">Cancel</button>
      </div>
    </div>
  </form>
</div>
